@{
    Layout = "~/Views/Shared/_site-layout.cshtml";
}

@section notification_area {
    @if (ViewBag.Message != null) {
        <div class="alert alert-danger">@ViewBag.Message</div>
    }
}

<div class="row">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas accordion-group" id="sidebar" role="navigation">
        @if (User.IsInRole("Student")) {
            @Html.Action("StudentMenu", "Home")
        }
        
        @if (User.IsInRole("Teacher")) {
            @Html.Action("TeacherMenu", "Home")
        }
        
        @if (User.IsInRole("Admin")) {
            @Html.Action("AdminMenu", "Home")
        }
        @*@Html.Partial("_sidebar")*@
    </div>
    <div class="col-md-9" role="main">
        @RenderBody()
    </div>
</div>

@section scripts {
    @RenderSection("page_script", false);
}