@model OnlineAssessment.Web.Core.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = "用户名"})
    @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "密码"})
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
    </label>
    <button class="btn btn-primary btn-block" type="submit">登入</button>
    @Html.ActionLink("注册", "Register", "Account", null, new {@class = "btn btn-default btn-block"})
}