@model IEnumerable<Question>

@{
    ViewBag.Title = "List";
}

<p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            新建题目 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("单选题", "Create", new { ViewBag.SubjectId, questionForm = QuestionForm.SingleSelection })</li>
            <li>@Html.ActionLink("多选题", "Create", new { ViewBag.SubjectId, questionForm = QuestionForm.MultipleSelection })</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("主观题", "Create", new { ViewBag.SubjectId, questionForm = QuestionForm.Subjective })</li>
        </ul>
    </div>
</p>

<p>
    <table class="table table-hover table-bordered">
        <tr>
            <th>题目</th>
            <th>难度</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.QuestionBody.MaxLengthAs(20)
                </td>
                <td>
                    @Html.DisplayFor(m => item.QuestionDegree, "QuestionDegree")
                </td>
                <td>
                    @Html.DisplayFor(m => item.QuestionForm, "QuestionForm")
                </td>
                <td>
                    @Html.ActionLink("查看", "Details", new {id = item.QuestionId}, new {@class = "btn btn-default btn-xs"})
                    @Html.ActionLink("编辑", "Edit", new {id = item.QuestionId}, new {@class = "btn btn-primary btn-xs"})
                    @Html.ActionLink("删除", "Delete", new {id = item.QuestionId}, new {@class = "btn btn-danger btn-xs"})
                </td>
            </tr>
        }
    </table>
</p>