@model Oas.Models.Simulation.SimulationInspectViewModel
@{
    ViewBag.Title = "Inspect";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">单选题</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < Model.SingleQuestions.Count; i++) {
                if (i != 0) {
                    <hr />
                }

                var question = Model.SingleQuestions[i];
                <p>@question.Body (@question.Score 分)</p>

                for (int o = 0; o < question.Options.Count; o++) {
                    var option = question.Options.ElementAt(o);
                    <div class="radio disabled">
                        <label>
                            <input type="radio" disabled name="SingleQuestions[@i].CheckedOption" value="@option.OptionId" @{ if (option.Checked) { Write("checked=\"checked\""); }} />
                            @option.Content @if (option.IsRight) {
                                                if (option.Checked) {
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                } else {
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                }
                                            } else {
                                                if (option.Checked) {
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                }
                                            }
                        </label>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">多选题</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < Model.MultipleQuestions.Count; i++) {
                if (i != 0) {
                    <hr />
                }

                var question = Model.MultipleQuestions[i];
                <p>@question.Body (@question.Score 分)</p>

                for (int o = 0; o < question.Options.Count; o++) {
                    var option = question.Options.ElementAt(o);
                    <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled name="MultipleQuestions[@i].CheckedOptions[@o].Checked" value="true" @{ if (option.Checked) { Write("checked=\"checked\""); } } />

                            @option.Content @if (option.IsRight) {
                                if (option.Checked) {
                                    <span class="glyphicon glyphicon-ok"></span>
                                } else {
                                    <span class="glyphicon glyphicon-remove"></span>
                                }
                            } else {
                                if (option.Checked) {
                                    <span class="glyphicon glyphicon-remove"></span>
                                }
                            }
                        </label>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">主观题</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < Model.SubjectiveQuestions.Count; i++) {
                var question = Model.SubjectiveQuestions[i];
                <h2>@question.Body (@question.Score 分)</h2>
                @Html.TextArea("SubjectiveQuestions[" + i + "].WriteDown", question.WriteDown, new { @class = "form-control", rows = 5, disabled="" })
                <p>参考答案: @question.Answer</p>
            }
        </div>
    </div>
</div>



