<div class="list-group">
    <h4 class="list-group-item active">学习管理</h4>
    @if (User.IsInRole("Teacher")) {
        <a href="#" class="list-group-item active">科目管理</a>
        <a href="@Url.Action("Index", "Question")" class="list-group-item">题库管理</a>
    }

    @if (User.IsInRole("Student")) {
        <a href="@Url.Action("List", "Question")" class="list-group-item">单元测试</a>
        <a href="@Url.Action("List", "Question")" class="list-group-item">模拟考试</a>
    }
    @if (User.IsInRole("Admin")) {
        <a href="@Url.Action("CreateCourse", "Admin")" class="list-group-item">科目管理</a>
        <a href="@Url.Action("CreateTeacher", "Admin")" class="list-group-item">创建教师</a>
        <a href="@Url.Action("PublishNews", "Admin")" class="list-group-item">发布信息</a>
    }
</div>