<div class="list-group">
    <h4 class="list-group-item active">学习管理</h4>
    @if (User.IsInRole("Teacher")) {
        <a href="@Url.Action("Index", "Subject")" class="list-group-item">科目管理</a>
        <a href="@Url.Action("Index", "Question")" class="list-group-item">题库管理</a>
    }

    @if (User.IsInRole("Student")) {
        <a href="@Url.Action("Index", "Dashboard")" class="list-group-item">我的课程</a>
        Html.RenderAction("PinnedSubjects", "Course", new { courseId = ViewContext.RouteData.Values["courseId"] });
        @*<a href="@Url.Action("Index", "Exercise")" class="list-group-item">单元测试 @ViewContext.RouteData.Values["courseId"]</a>*@
        <a href="@Url.Action("Index", "Simulation")" class="list-group-item">模拟考试</a>
    }
</div>