<div class="list-group">
    <h4 class="list-group-item active">学习管理</h4>
    @if (User.IsInRole("Teacher")) {
        <a href="@Url.Action("Index", "Subject")" class="list-group-item">科目管理</a>
        <a href="@Url.Action("Index", "Question")" class="list-group-item">题库管理</a>
        <a href="@Url.Action("Index", "Eval")" class="list-group-item">阅卷管理</a>
    }

    @if (User.IsInRole("Student")) {
        <a href="@Url.Action("Index", "Dashboard")" class="list-group-item">我的课程</a>
        <a href="@Url.Action("Index", "Record")" class="list-group-item">考试记录</a>
        Html.RenderAction("Subjects", "Course", new { courseId = ViewContext.RouteData.Values["courseId"] });
    }
</div>