@{
    var userProfile = (SystemUser)ViewBag.Profile;
}


@if (User.IsInRole("Student")) {
    <div class="list-group">
        <a href="#" class="list-group-item active">在线考试</a>
        <a href="@Url.Action("List", "Question")" class="list-group-item item-actived">等级一<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("List", "Question")" class="list-group-item">等级二<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("List", "Question")" class="list-group-item">等级三<span class="badge bg_danger">0</span></a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active">练习</a>
        <a href="@Url.Action("Index", "TestUnit")" class="list-group-item">单元测试<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("Index", "TestComprehensive")" class="list-group-item">综合题测试<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("Index", "TestModularized")" class="list-group-item">模块化考试<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("Index", "TestPractice")" class="list-group-item">模拟考试<span class="badge bg_danger">0</span></a>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active">成绩查询</a>
        <a href="@Url.Action("List", "Question")" class="list-group-item item-actived">等级一<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("List", "Question")" class="list-group-item">等级二<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("List", "Question")" class="list-group-item">等级三<span class="badge bg_danger">0</span></a>
    </div>
}

@if (User.IsInRole("Teacher"))
{
    var teacher = (Teacher)userProfile;
    
    <div class="list-group">
        <a href="#" class="list-group-item active">题库管理</a>

        <a href="@Url.Action("List", "Question", new { teacher.ResponsibleSubject.SubjectId })" class="list-group-item">@teacher.ResponsibleSubject.Name<span class="badge bg_danger">0</span></a>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">试卷管理</a>
        <a href="#" class="list-group-item">创建试卷</a>
        <a href="#" class="list-group-item">准备中<span class="badge bg_danger">0</span></a>
        <a href="#" class="list-group-item">已激活<span class="badge bg_danger">0</span></a>
        <a href="#" class="list-group-item">归档<span class="badge bg_danger">0</span></a>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">手动阅卷</a>
        <a href="#" class="list-group-item">未完成<span class="badge bg_danger">0</span></a>
        <a href="#" class="list-group-item">已批阅<span class="badge bg_danger">0</span></a>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">考试管理</a>
        <a href="#" class="list-group-item">正在进行<span class="badge bg_danger">0</span></a>
        <a href="#" class="list-group-item">归档<span class="badge bg_danger">0</span></a>
    </div>
}

@if (User.IsInRole("Admin")) {
    <div class="list-group">
        <a href="#" class="list-group-item active">管理</a>
        <a href="@Url.Action("List", "Question")" class="list-group-item item-actived">教师管理<span class="badge bg_danger">0</span></a>
        <a href="@Url.Action("List", "Question")" class="list-group-item">信息管理<span class="badge bg_danger">0</span></a>
    </div>
}