@model Oas.Models.Admin.CreateCourseViewModel
@{
    ViewBag.Title = "Create Course";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">创建课程</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("CreateCourse", "Admin", FormMethod.Post, new { @class = "form-horizontal" })) {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.CourseAbbr, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.CourseAbbr, new { @class = "form-control", placeholder = "缩写" })
                            @Html.ValidationMessageFor(m => m.CourseAbbr)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CourseName, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", placeholder = "名称" })
                            @Html.ValidationMessageFor(m => m.CourseName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "描述" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <button class="btn btn-primary" type="submit">创建</button>
                        </div>
                    </div>
                    @*@Html.ValidationSummary(true)*@
                }
            </div>
        </div>
        @if (ViewData.ModelState.Count > 0) {
            <div class="alert alert-danger">@Html.ValidationSummary(true) </div>
        }
    </div>
</div>
