@model Course
@{
    ViewBag.Title = "SubjectCreate";
}

@using (Html.BeginForm("CreateCourse", "Admin", FormMethod.Post, new {@class = "form-horizontal"})) {
    <div class="form-group">
        @Html.LabelFor(m => m.CourseId, "课程key", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CourseId, new { @class = "form-control", placeholder = "课程key" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseName, "课程名称", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", placeholder = "课程名称" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, "课程描述", new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Description, new {@class = "form-control", placeholder = "课程描述"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">创建</button>
        </div>
    </div>
}