@model OnlineAssessment.Service.Message.ExaminationPaperConfig

@using (Html.BeginForm("Create", "Paper", FormMethod.Post, new { @class = "form-horizontal" })) {
    <div class="form-group">
        @Html.LabelFor(m => m.Title, "试卷标题", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "试卷标题" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, "试卷描述", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "试卷描述" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Degree, "试卷难度", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Degree, new { @class = "form-control", placeholder = "试卷难度" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TotalScore, "试卷总分", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.TotalScore, new { @class = "form-control", placeholder = "试卷总分" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SingleSelectionQuestionQuantity, "单选题数量", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.SingleSelectionQuestionQuantity, new { @class = "form-control", placeholder = "单选题数量" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MutipleSelectionQuestionQuantity, "多选题数量", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.MutipleSelectionQuestionQuantity, new { @class = "form-control", placeholder = "多选题数量" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SubjectiveQuestionQuantity, "主观题数量", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.SubjectiveQuestionQuantity, new { @class = "form-control", placeholder = "主观题数量" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExaminationType, "试卷类型", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.ExaminationType, (IEnumerable<SelectListItem>)ViewBag.ExaminationType, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">生成</button>
        </div>
    </div>
}


